@model OpenData.Basetball.AbaLeague.MVCWebApp.Models.LeagueViewModel


<h2>@ViewBag.Title</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Leagues[0].OfficialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leagues[0].ShortName)
        </th>
        <td>

        </td>
    </tr>
    </thead>
    <tbody>
    @if (Model.Leagues.Any())
    {
        @foreach (var item in Model.Leagues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    <a asp-controller="League" asp-action="Details" 
                        asp-route-leagueId="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-controller="League" asp-action="LeagueMatches"
                        asp-route-leagueId="@item.Id" class="btn btn-outline-primary">Matches</a>
                   <a asp-controller="League" asp-action="Standings"
                        asp-route-leagueId="@item.Id" class="btn btn-outline-info">Standings</a>
                    <a asp-controller="League" asp-action="TeamsLeaderboard"
                        asp-route-leagueId="@item.Id" class="btn btn-outline-danger">Teams Stats</a>
                    <a asp-controller="League" asp-action="PlayersLeaderboard"
                        asp-route-leagueId="@item.Id" class="btn btn-outline-warning">Player Stats</a>
                        <a asp-controller="League" asp-action="LeagueRangeStatsByLeague"
                        asp-route-leagueId="@item.Id" class="btn btn-outline-info">Range Stats</a>
                </td>
            </tr>
        }
    }
        <p>@Model.ErrorMessage</p>
    </tbody>
</table>
<p>
    <a asp-controller="League" asp-action="Upsert" class="btn btn-success">Create New</a>
    @*<a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
    <a asp-action="Create" class="btn btn-default">Create New</a>
    <a asp-action="Create" class="btn btn-info">Create New</a>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a asp-action="Create" class="btn btn-warning">Create New</a>*@
</p>

