@model LeagueRangeStatsViewModel

<h2>League Range Stats - @Model.LeagueName</h2>

@if (Model.TeamItems != null && Model.TeamItems.Any())
{
    foreach (var teamStats in Model.TeamItems)
    {
        <h3>Stats: @teamStats.TeamName
        </h3>
        @if (teamStats.RangeStatsItems != null && teamStats.RangeStatsItems.Any())
        {
            <table border="1">
                <tr>
                    @foreach (var item in teamStats.RangeStatsItems)
                    {
                        <td>
                            @if (item.MinValue == null)
                            {
                                <div>
                                    @("-" + item.MaxValue)
                                </div>
                            }
                            else if (item.MaxValue == null)
                            {
                                <div>
                                    @(item.MinValue + "+")
                                </div>
                            }
                            else
                            {
                                <div>
                                    @(item.MinValue + "-" + item.MaxValue)
                                </div>
                            }
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var item in teamStats.RangeStatsItems)
                    {
                        <td>@item.Count</td>
                    }
                </tr>
            </table>
        }
        else
        {
            <p>
                No available ranges for the team.
            </p>
        }



    }

}
else
{
    <p>No range stats available for this league.</p>
}



<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    div {
        margin: 4px;
    }
</style>