@page
@model Pages.Leagues.IndexModel

@{
    var ModelName = "Leagues";
    ViewData["Title"] = ModelName;
}


<h2>@ModelName</h2>

@if (@Model.IsSuccess)
{
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leagues[0].OfficialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leagues[0].ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leagues[0].Season)
            </th>
            <td>

            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Leagues) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                        <a asp-page="Details" asp-route-leagueId="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-page="Upsert" asp-route-leagueId="@item.Id" class="btn btn-outline-secondary">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>
        @Model.ErrorMessage
    </p>
}
<p>
    <a asp-page="Upsert" class="btn btn-success">Create New</a>
    @*<a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
    <a asp-action="Create" class="btn btn-default">Create New</a>
    <a asp-action="Create" class="btn btn-info">Create New</a>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a asp-action="Create" class="btn btn-warning">Create New</a>*@
</p>