@page
@model Pages.Content.Teams.DraftModel
@{
    var ModelName = "Draft - Teams";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams[0].MaterializationStatus)
            </th>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterializationStatus)
                </td>
            </tr>
        }
    </tbody>
</table>


<form asp-page="Create">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<p>
    <a asp-page="./Index" class="btn btn-primary">Back to main content page</a>
</p>