@model CompareLeaguesViewModel

<h2>Compare Leagues</h2>
@if (!Model.IsLoadedComparisonResult)
{
    <div class="form-horizontal">
        <form asp-controller="Comparison" asp-action="CompareLeagues" method="post">
            <input type="hidden" asp-for="@Model.IsLoadedComparisonResult" />
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.HomeLeaguesSelection)
                <div class="col-md-10">
                    <select asp-for="SelectedHomeLeague" class="form-control" asp-items="Model.HomeLeaguesSelection"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HomeLeaguesSelection)
                <div class="col-md-10">
                    <select asp-for="SelectedAwayLeague" class="form-control" asp-items="Model.HomeLeaguesSelection"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Compare</button>
                </div>
            </div>
        </form>
    </div>
}
@if (Model.IsLoadedComparisonResult)
{
    <table>
        <thead>
        <th>
            League names
        </th>
        <th>
                @Model.HomeLeague.Name
        </th>
        <th>
                @Model.AwayLeague.Name
        </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Points
                </td>
                <td>
                    @Model.HomeLeague.CorePerformance.TotalPoints
                </td>
                <td>
                    @Model.AwayLeague.CorePerformance.TotalPoints
                </td>
            </tr>
        </tbody>
    </table>
}