@model ComparePlayersViewModel

@if(Model.SelectedLeagueId == null)
{
    <div class="form-horizontal">
        <form asp-controller="Comparison" asp-action="ComparePlayers" method="get">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.AvailableLeagues)
                <div class="col-md-10">
                    <select asp-for="SelectedLeagueId"
                            class="form-control" 
                            asp-items="Model.AvailableLeagues"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Select</button>
                </div>
            </div>
        </form>
    </div>
}
else
{
    @if(Model.AvailableHomeTeams != null &&
          Model.AvailableAwayTeams != null)
    {
           <div class="form-horizontal">
            <form asp-controller="Comparison" asp-action="ComparePlayers" method="get">
                <input type="hidden" asp-for="@Model.SelectedLeagueId" />
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.AvailableHomeTeams)
                    <div class="col-md-10">
                        <select asp-for="SelectedHomeTeamId"
                                class="form-control"
                                asp-items="Model.AvailableHomeTeams"></select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AvailableAwayTeams)
                    <div class="col-md-10">
                        <select asp-for="SelectedAwayTeamId"
                                class="form-control"
                                asp-items="Model.AvailableAwayTeams"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    }
    if (Model.AvailableHomePlayers != null && Model.AvailableAwayPlayers != null)
    {
        <div class="form-horizontal">
            <form asp-controller="Comparison" asp-action="ComparePlayers" method="get">
                <input type="hidden" asp-for="@Model.SelectedLeagueId" />
                <input type="hidden" asp-for="@Model.SelectedHomeTeamId" />
                <input type="hidden" asp-for="@Model.SelectedAwayTeamId" />
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.AvailableHomePlayers)
                    <div class="col-md-10">
                        <select asp-for="SelectedHomePlayerId"
                                class="form-control"
                                asp-items="Model.AvailableHomePlayers"></select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AvailableAwayPlayers)
                    <div class="col-md-10">
                        <select asp-for="SelectedAwayPlayerId"
                                class="form-control"
                                asp-items="Model.AvailableAwayPlayers"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Comapare</button>
                    </div>
                </div>
            </form>
        </div>
    }
}

@if (Model.IsPlayerComperisonLoaded)
{
    <table class="performance-table">
        <thead>
            <tr>
                <th>Player names</th>
                <th>@Model.HomePlayer.Name</th>
                <th>@Model.AwayPlayer.Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Games</td>
                <td>@Model.HomePlayer.GamesPlayed</td>
                <td>@Model.AwayPlayer.GamesPlayed</td>
            </tr>
            <tr>
                <td>Games</td>
                <td>@Model.HomePlayer.</td>
                <td>@Model.AwayPlayer.GamesPlayed</td>
            </tr>
        </tbody>
    </table>
  
}


<style>
    .performance-table {
        width: 100%;
        border-collapse: collapse;
    }

        .performance-table th, .performance-table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .performance-table th {
            background-color: #f2f2f2;
        }
</style>